@import 'tailwindcss';

* {
    padding: 0px;
    margin : 0px;
    box-sizing: border-box;
}

@theme {
    --font-sans: "HelveticaNeue", sans-serif;
    --font-mono: "IBM Plex Mono", monospace;
}

@utility bg-grid {
    :where(&) {
        background-color: theme(colors.slate.50);

        background-image: linear-gradient(to right , rgba(37, 99, 235, 0.04) 2px, transparent 1px),
                          linear-gradient(to bottom, rgba(37, 99, 235, 0.04) 2px, transparent 1px),
                          linear-gradient(to left  , rgba(37, 99, 235, 0.08) 1px, transparent 1px),
                          linear-gradient(to bottom, rgba(37, 99, 235, 0.08) 1px, transparent 1px);

        background-size:
            24px 24px,
            24px 24px,
            96px 96px,
            96px 96px;
    }
}